.body {
  background-image: url("../img/web_v2.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  font-family: 'Calibri', sans-serif;
  box-sizing: border-box;
  background-attachment: fixed;
  overflow-x: hidden; }
  .body--no-overflow {
    overflow: hidden; }
  .body--services {
    background-color: #f8e9d1;
    background-image: url(../img/services/services-bg.jpg); }

html {
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000000; }

p {
  margin: 0; }

.hidden {
  display: none; }

.main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box; }

.header {
  width: 20%; }

.footer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center; }

img {
  width: 100%;
  display: block;
  vertical-align: top; }

* {
  box-sizing: border-box; }

@media (max-width: 1299px) {
  .main {
    width: 100%; }
  .header {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; } }

@media (max-width: 767px) {
  .body {
    display: flex;
    background-image: none;
    flex-wrap: wrap;
    margin: 0 auto; }
  .header {
    background-color: #e7e7d5;
    padding: 0;
    left: 0;
    top: 0;
    background: rgba(69, 67, 68, 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: none; }
    .header--active {
      display: block; }
  .main {
    background-color: #f2efe1;
    padding-left: 10px;
    padding-right: 10px; }
  .hidden {
    display: none; }
  .pop-up {
    display: none; } }

@media (max-width: 639px) {
  .main {
    padding: 0; } }

.menu--top {
  padding-top: 40px;
  flex-basis: 360px;
  padding-left: 50px;
  display: flex; }

.menu__list {
  padding-left: 18px;
  margin-top: 0;
  padding-top: 18px;
  position: relative; }

.menu__list::before {
  position: absolute;
  content: "";
  display: block;
  border-left: 3px solid #454443;
  min-height: 204px;
  z-index: 0;
  top: 15px;
  left: -3px; }

.menu__link {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0; }
  .menu__link--last {
    padding-bottom: 24px; }
  .menu__link--active {
    position: relative;
    z-index: 2; }
  .menu__link--active::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #000000;
    z-index: 100;
    position: absolute;
    top: 8px;
    left: -23px; }

.menu__request {
  font-size: 14px;
  font-weight: 400;
  background: url(../img/fon.png) no-repeat 100%;
  background-size: 164px 40px;
  background-position: 0 0;
  padding-top: 4px;
  padding-right: 32px;
  padding-left: 20px;
  padding-bottom: 6px; }

.menu__hidden {
  display: none; }

@media (max-width: 1299px) {
  .menu--top {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 0;
    margin: 0;
    flex-basis: auto;
    margin-top: 52px; }
  .menu__list {
    padding-top: 40px;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    z-index: 4; }
  .menu__list::before {
    border-left: none;
    width: 100%;
    border-bottom: 3px solid #454443;
    min-height: auto;
    top: 110px;
    left: 0; }
  .menu__item {
    display: flex;
    justify-content: center;
    width: 100%; }
    .menu__item--last {
      padding-bottom: 0; }
  .menu__link {
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu__link--active::before {
      top: 34px;
      left: 50%;
      transform: translateX(-50%); }
  .menu__link a {
    display: flex; }
  .menu__request {
    display: flex;
    justify-content: flex-end;
    background-size: 100%;
    justify-content: center;
    background-size: 100% 100%;
    min-width: 160px;
    min-height: 40px;
    font-size: 20px;
    font-weight: 400; }
  .menu__request a {
    display: flex;
    justify-content: center; }
  .menu__controller {
    top: 9px;
    right: auto;
    left: 36px; } }

@media (max-width: 767px) {
  .menu__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    margin-left: 60px; }
    .menu__list::before {
      content: "";
      width: 4px;
      height: 100%;
      display: block;
      background: #Fff;
      position: absolute;
      left: -29px;
      top: 34px; }
  .menu__link {
    display: flex;
    padding-left: 0;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px; }
    .menu__link--last {
      padding-right: 0; }
  .menu__link a {
    color: #ffffff;
    line-height: 0.9em; }
  .menu--top {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    margin: 0;
    padding: 40px 0; }
  .menu__request {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    font-size: 24.13px;
    padding-right: 20px;
    min-width: 230px; }
  .menu__hidden {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding-top: 80px;
    font-style: italic;
    max-width: 275px;
    font-weight: 400;
    font-size: 28px;
    color: #ffffff; }
  .menu__bold {
    font-weight: 600; }
  .menu__link--active::before {
    top: 9px;
    width: 6px;
    height: 6px;
    background-color: #3e3d3b;
    border-radius: 50%;
    border: 2px solid #ffffff;
    left: -1em;
    transform: translateX(-18%); } }

.info {
  width: 100%;
  padding-top: 38px;
  display: flex;
  margin: 0;
  box-sizing: border-box; }

.info__block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  max-width: 1640px; }

.info__photo {
  box-sizing: border-box;
  width: 30%; }

.info__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 561px;
  width: 50%;
  margin-left: 20px;
  box-sizing: border-box; }

.info__only {
  font-weight: 600;
  margin-top: 0; }
  .info__only--hidden {
    display: none; }

.info__exam {
  position: absolute;
  min-height: 181px;
  max-width: 311px;
  align-items: center;
  background: url(../img/action.png) no-repeat;
  background-position: 0 0;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 43px;
  padding-top: 18px;
  padding-right: 10px;
  box-sizing: border-box;
  right: 48px;
  top: 200px; }

.info__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
  max-width: 392px;
  line-height: 1.3em; }

.info__paragraph {
  font-size: 60px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  max-width: 561px; }

.info__article {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 38px;
  padding-top: 36px;
  padding-right: 10px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: 'NotoSans',sans-serif;
  line-height: 1.6em; }

.info__menu,
.info__gallery {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  padding-left: 0; }

.info__gallery .info__second-img {
  padding-right: 4px; }

.info__doctor-img,
.info__hidden-button,
.info__act {
  display: none; }

.info__gallery img {
  padding-left: 2px;
  max-width: 114px; }

.info__look {
  position: relative; }

.info__look:hover::before {
  display: block;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../img/plus.png);
  background-size: 40px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer; }

.info__menu--big .info__item {
  font-size: 25px; }

.info__item {
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: space-around;
  flex-grow: 2; }
  .info__item::before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background: gray;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    flex-shrink: 0; }
  .info__item:first-child {
    flex-grow: 1; }
    .info__item:first-child::before {
      display: none; }

.info__round {
  width: 7px;
  height: 7px;
  background-color: #7d7d7d;
  border-radius: 50%;
  border: 1px solid #7d7d7d;
  margin-left: 22px;
  margin-right: 22px; }

.info__active {
  display: flex;
  margin-top: 0;
  padding-top: 14px;
  justify-content: space-between; }

.info__menu--pop-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start; }

.info__close {
  position: absolute;
  top: 12px;
  left: 25px;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 18px;
  cursor: pointer;
  background-image: url(../img/close.png); }

.info__offer {
  margin-top: 20px; }

.info__menu.info__menu--pop-up {
  display: flex;
  padding-left: 0;
  justify-content: center; }

@media (max-width: 1299px) {
  .info {
    flex-wrap: wrap;
    padding-top: 0; }
  .info__position {
    position: absolute;
    display: block;
    top: 0;
    left: 45px;
    display: flex;
    flex-direction: column; }
  .info__text {
    order: 0;
    width: 60%;
    margin-right: 0;
    display: inline-block;
    margin-left: 0;
    z-index: 0;
    max-width: 100%; }
  .info__block {
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    padding-left: 54px;
    box-sizing: border-box;
    padding-top: 180px; }
  .info__photo {
    width: 40%; }
  .info__article {
    padding-left: 40px;
    padding-right: 40px; }
  .info__title {
    width: 100%;
    max-width: 601px;
    margin-top: 0;
    font-size: 30px;
    font-weight: 400; }
  .info__paragraph {
    max-width: 530px;
    font-size: 60px;
    font-weight: 400; }
  .info__hidden,
  .info__last-img,
  .info__act {
    display: none; }
  .info__exam {
    top: -16px;
    right: -48px;
    background-size: 100% 100%;
    width: 100%;
    z-index: 4; }
  .info__menu,
  .info__gallery {
    width: 100%;
    font-weight: 400;
    padding-left: 40px; }
  .info__gallery .info__second-img {
    padding-right: 0; }
  .info__round {
    width: 6px;
    height: 6px; } }

@media (max-width: 767px) {
  .info,
  .info__text {
    display: flex;
    background-color: #f2efe1; }
  .info__item {
    font-size: 20px; }
  .info__text {
    padding-left: 0;
    flex-direction: column;
    order: 3;
    display: flex;
    width: 100%; }
  .info__title {
    font-size: 40px; }
  .info__block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    flex-basis: auto;
    max-width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    position: relative; }
  .info__photo {
    display: flex;
    width: 100%;
    order: 3; }
  .info__photo img,
  .info__gallery,
  .info__close,
  .info__mobile-hidden {
    display: none; }
  .info__position {
    display: block;
    position: relative;
    order: 0;
    padding-bottom: 30px;
    padding-top: 50px;
    left: auto;
    padding-left: 31px; }
  .info__offer {
    margin: 0;
    max-width: 478px;
    width: 100%;
    box-sizing: border-box; }
  .info__menu {
    padding-left: 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0;
    padding-top: 34px;
    margin: 0 auto;
    font-size: 2.5em;
    order: 1;
    padding-left: 31px;
    padding-right: 31px; }
  .info__article {
    width: 100%;
    min-width: 100%;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 14px;
    font-size: 25px;
    background-color: #f2efe1;
    margin-left: 0;
    line-height: 1.3em;
    order: 2; }
  .info__exam {
    display: none; }
  .info__act {
    display: flex;
    align-items: center;
    justify-content: space-around;
    order: 1;
    background-color: #ffa44c;
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 31px;
    padding-right: 31px; }
  .info__act:hover {
    background-color: #e5a364; }
    .info__act:hover:active {
      background-color: #e5a364; }
  .info__act img {
    width: 21px;
    height: 64px; }
  .info__title,
  .info__paragraph {
    max-width: 100%; }
  .info__doctor-img {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    order: 1; }
  .info__hidden-button {
    display: inline-block;
    width: 24px;
    height: 68px;
    padding-right: 31px; }
  .info__row-circles {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center; }
  .info__circle {
    border-radius: 50%;
    margin-right: 23px;
    max-width: 31px;
    max-height: 31px; }
    .info__circle--selected {
      border-radius: 50%;
      border: none;
      width: 31px;
      height: 31px;
      background-color: #ffa44c; }
    .info__circle--white {
      border: 3px solid #ffffff;
      width: 31px;
      height: 31px; }
  .info__only {
    display: none; }
    .info__only--hidden {
      display: inline-block; }
  .info__round {
    width: 10px;
    height: 10px;
    margin-left: 6px;
    margin-right: 6px; } }

@media (max-width: 639px) {
  .info__position {
    padding: 10px; }
  .info__item {
    font-size: 16px; }
  .info__title {
    font-size: 23px; }
  .info__paragraph {
    font-size: 34px; }
  .info__circle {
    flex-shrink: 0; }
  .info__row-circles {
    padding-left: 0px;
    display: flex;
    justify-content: space-around; }
  .info__circle {
    margin-right: 0px; }
  .info__act {
    font-size: 27px; }
  .info__act img {
    width: 12px;
    height: 32px; }
  .info__act,
  .info__menu,
  .info__article {
    padding: 10px; }
  .info__menu {
    padding-top: 10px;
    font-size: 1.59em; }
  .info__article {
    padding-top: 5px;
    line-height: 1.2em;
    font-size: 18px; } }

.button {
  background-color: #ffa44c;
  width: 104px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase; }

.button:active {
  background-color: #e5a364;
  border: none; }

.button__like {
  margin-right: 11px;
  width: 70px;
  border-radius: 5px;
  text-align: left;
  height: 22px;
  z-index: 0;
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-position: 88% 47%; }

.button__submit {
  width: 140px;
  height: 56px;
  font-size: 24px;
  font-weight: 400; }

@media (max-width: 767px) {
  .button__more {
    display: none; }
  .button__like {
    font-size: 36.29px;
    font-weight: 100;
    width: 140px;
    height: 44px;
    margin-right: 22px;
    background-size: 16%;
    padding-left: 18px;
    background-image: url(../img/like-mobile.png); } }

@media (max-width: 639px) {
  .button__like {
    font-size: 20.29px;
    font-weight: 400;
    width: 110px;
    height: 46px;
    background-size: 20px;
    padding-left: 22px;
    padding-right: 29px;
    background-position: 89% 38%; } }

.call {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

.call__now,
.call__text {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.call__now {
  font-size: 31.04px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: right; }

.call__text {
  font-size: 18.11px;
  font-weight: 500;
  justify-content: flex-end; }

.call__menu {
  display: none; }

@media (max-width: 1299px) {
  .container > .call {
    position: relative; }
  .call {
    width: 100%;
    position: absolute;
    top: -205px;
    right: 0px; }
  .call__now {
    padding-bottom: 17px;
    margin: 0; }
  .call__text {
    margin: 0;
    padding: 0; }
  .call-hidden {
    padding-left: 8px;
    padding-right: 8px; } }

@media (max-width: 767px) {
  .call {
    right: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: auto;
    justify-content: space-between; }
  .call__now {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 5px; }
  .call__now,
  .call__text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%; }
  .call-hidden {
    display: none; }
  .call__text {
    font-size: 22px;
    text-align: right; }
  .call__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 82px;
    height: 82px;
    background-color: #dadbc2;
    border-radius: 50%;
    position: relative; }
  .call__menu:before {
    position: absolute;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background-color: #454344;
    top: 22px;
    left: 21px; }
  .call__line {
    width: 41px;
    min-height: 4px;
    display: block;
    background-color: #454344;
    margin-top: 15px; }
    .call__line--second {
      margin-top: 41px; }
  .call__menu img {
    width: 50px; }
  .call__block {
    display: block;
    width: calc(100% - 60px); } }

@media (max-width: 639px) {
  .call {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px; }
  .call__now {
    font-size: 24px; }
  .call__text {
    font-size: 13.5px; } }

.bottom__white {
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  padding-top: 38px;
  padding-bottom: 42px; }

.bottom {
  width: 100%; }

.bottom__transparent {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center; }

.bottom__add {
  display: flex;
  z-index: 2;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  width: 22%;
  position: absolute;
  top: 42px;
  right: 0; }

.bottom__round {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #dcede9;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #dcede9;
  z-index: 0; }

.bottom__hidden {
  display: none;
  background-image: url(../img/add.png);
  background-repeat: repeat;
  background-position: 50%;
  background-size: 40px;
  width: 50px;
  height: 50px;
  z-index: 100;
  align-items: center;
  justify-content: center; }

.bottom__hidden {
  display: none; }

.bottom__reviews {
  padding-bottom: 27px;
  width: 50%;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400; }

.bottom__opinion {
  display: flex;
  max-width: 1040px; }

.bottom__item {
  width: 50%;
  max-width: 500px;
  font-size: 18px;
  font-weight: 400; }
  .bottom__item--left {
    padding-right: 60px; }

.bottom__name {
  font-style: italic;
  padding-bottom: 18px; }

.bottom__more {
  color: #865729;
  text-transform: uppercase; }

.bottom__text {
  padding-bottom: 28px;
  max-width: 480px; }
  .bottom__text--right {
    padding-right: 32px; }

.bottom__button {
  display: flex; }

.button__img {
  background: url("../img/like.png") no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  z-index: 100; }

.bottom__flip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  width: 16px; }
  .bottom__flip--left {
    background: url(../img/navigation-left.png) no-repeat;
    background-position: 50%; }
  .bottom__flip--right {
    background: url(../img/navigation-right.png) no-repeat;
    background-position: 50%; }

.bottom__flip img:hover {
  display: none; }

.bottom__flip--left:hover {
  display: flex;
  background-image: url(../img/navigator-left-active.png) no-repeat;
  background-size: 100%; }

.bottom__flip--right:hover {
  display: flex;
  background-image: url(../img/navigator-right-active.png) no-repeat;
  background-size: 100%; }

@media (max-width: 1299px) {
  .bottom {
    width: 100%;
    padding-top: 60px; }
    .bottom .container {
      max-width: 100%; }
  .bottom__opinion {
    padding-right: 146px;
    width: 56%;
    max-width: 100%; }
  .bottom__reviews {
    padding-bottom: 30px;
    width: 80%; }
  .bottom__add {
    right: 45px;
    width: 100px; }
  .bottom__flip--left {
    margin-right: 0; }
  .bottom__item--left {
    padding-right: 0; }
  .bottom__item {
    width: 100%; }
    .bottom__item--hidden {
      display: none; }
  .bottom__text.bottom__text--left {
    padding-bottom: 28px; }
  .bottom__white {
    padding-bottom: 62px;
    justify-content: space-around; } }

@media (max-width: 767px) {
  .bottom {
    padding-top: 0; }
  .bottom__reviews {
    font-size: 50px;
    padding-top: 0;
    background-color: #f2efe1;
    padding-left: 0;
    width: 96%; }
  a.bottom__link {
    display: none; }
  a.bottom__hidden {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #7d7d7d; }
  .bottom__round {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 97px;
    font-weight: 200; }
  .bottom__transparent {
    background-color: #f2efe1;
    padding-left: 31px;
    padding-right: 31px; }
  .bottom__white {
    padding-top: 64px;
    padding-bottom: 60px; }
  .bottom__name {
    font-size: 32px; }
  .bottom__text {
    font-size: 24px; }
    .bottom__text--left {
      line-height: 1.2em;
      padding-bottom: 42px; }
  .bottom__flip--left,
  .bottom__flip--right {
    margin: 0; }
  .bottom__item {
    max-width: 518px;
    width: 100%; }
  .bottom__flip--left {
    padding-right: 26px; }
  .bottom__button {
    font-size: 36.29px;
    font-weight: 300; }
  .bottom__opinion {
    width: 85%;
    padding-right: 43px; } }

@media (max-width: 639px) {
  .bottom__flip--left,
  .bottom__flip--right {
    margin: 10px;
    background-position: 0 50%; }
  .bottom__transparent {
    padding: 0; }
  .bottom__reviews {
    padding: 10px; }
  .bottom__reviews {
    width: 100%;
    font-size: 30px; }
  .bottom__hidden {
    width: 30px;
    height: 30px; }
  .bottom__round {
    width: 60px;
    height: 60px; }
  .bottom__add {
    right: 0px;
    top: 26px;
    width: 70px; }
  .bottom__white {
    padding-top: 25px;
    padding-bottom: 20px; }
  .bottom__flip--left {
    padding-right: 0; }
  .bottom__name {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 10px; }
  .bottom__text.bottom__text--left {
    font-size: 18px;
    line-height: 1em; }
  .bottom__opinion {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px; }
  .bottom__button {
    font-size: 36.32px;
    font-weight: 400; } }

.footer {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%; }

.development,
.copyright {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px; }

.footer__hidden,
.development__hidden {
  display: none; }

@media (max-width: 1299px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .copyright,
  .development {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
  .copyright {
    padding-top: 25px; }
  .development {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media (max-width: 767px) {
  .footer {
    width: 100%;
    background-color: #f9f4e9;
    padding-left: 30px;
    padding-right: 40px;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 30px; }
  .footer__hidden,
  .development__hidden {
    display: flex; }
  .footer__hidden {
    width: 100%; }
  .footer__hidden img {
    width: 50px;
    padding-right: 10px; }
  .footer__hidden p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase; }
  .footer__hidden {
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start; }
  .development {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0;
    padding-bottom: 0; }
  .development,
  .copyright {
    padding-left: 0;
    padding-right: 0; }
  .copyright {
    max-width: 480px;
    font-size: 22px;
    font-weight: 400;
    padding-top: 43px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-left: 0; }
  .development__hidden {
    width: 33%;
    display: flex;
    justify-content: flex-start; } }

@media (max-width: 639px) {
  .footer {
    padding: 10px; }
  .footer__hidden img {
    width: 34px; }
  .footer__hidden {
    font-size: 22px;
    justify-content: flex-start; }
  .copyright {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding-top: 4px; }
  .footer__hidden p {
    font-weight: 500;
    padding-left: 10px; }
  .development {
    font-size: 14px;
    font-weight: 500;
    padding-top: 4px; } }

.pop-up {
  display: none;
  z-index: 2000;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed; }
  .pop-up--active {
    display: flex; }

.pop-up__close {
  top: 62px;
  right: 117px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url(../img/delete.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  cursor: pointer;
  z-index: 21; }

.pop-up__item {
  border-radius: 50%;
  max-width: 800px;
  width: 100%;
  min-height: 800px;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; }

.pop-up__block {
  background-color: #f8f2ee;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 43px; }
  .pop-up__block--review {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding-bottom: 0;
    max-width: 477px;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'NotoSans';
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box; }

.pop-up__square {
  max-width: 473px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto; }

.pop-up__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center; }

.pop-up__content-review {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }

.pop-up__text {
  padding-top: 36px; }
  .pop-up__text--team {
    max-width: 272px;
    padding-left: 32px;
    padding-top: 20px; }

.pop-up__date {
  padding-bottom: 16px;
  font-weight: 600;
  font-style: italic; }

.pop-up__web-link {
  font-weight: 600;
  color: #865729;
  background: url(../img/link-img.png) no-repeat;
  background-position: 0 12%; }

.pop-up__info .pop-up__web-link {
  background: none; }

.pop-up__website {
  padding-top: 18px; }

.pop-up__website p {
  padding-bottom: 12px;
  padding-left: 20px; }

.pop-up__selected-page {
  background-color: #eed2bf;
  padding: 6px 6px; }

.pop-up__after-menu {
  max-width: 57%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 38px; }

.pop-up__about {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.pop-up__img {
  display: flex;
  justify-content: center;
  align-content: center; }

.pop-up__img img {
  width: 100%; }

.pop-up__side {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-bottom: 32px; }

.pop-up__leaf {
  max-width: 60px; }

.pop-up__block--team {
  padding-top: 35px;
  padding-bottom: 0; }

.pop-up .label {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 400; }

.pop-up__write {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 477px; }
  .pop-up__write--email {
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; }
  .pop-up__write--name {
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    padding-right: 0;
    justify-content: space-between;
    align-items: baseline; }

.pop-up__left--phone {
  min-width: 154px;
  width: 100%; }

.pop-up__write img {
  width: 26px;
  padding-left: 14px; }

.pop-up__text-contact {
  max-width: 430px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px; }

.pop-up__paragraph {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
  margin: 0;
  padding-bottom: 36px; }
  .pop-up__paragraph--request {
    max-width: 430px;
    text-align: center; }

.pop-up__visit,
.pop-up__rating,
.pop-up__stars {
  display: flex; }

.pop-up__visit {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 20px; }

.pop-up__rating {
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  padding-bottom: 16px;
  align-items: center;
  font-family: Calibri, Arial, sans-serif; }

.pop-up__your {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1; }

.pop-up__good {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1; }

.pop-up__phone {
  width: 46px;
  height: 46px;
  margin-left: 4px;
  border-radius: 6px;
  background-image: url(../img/white-star.png);
  background-repeat: no-repeat;
  background-size: 25px 24px;
  background-position: 50%; }

.pop-up__wrap {
  width: 100%;
  overflow-y: scroll; }

.pop-up__stars label {
  background-color: #e0e8e6; }

.pop-up__stars input {
  display: none; }

.pop-up__stars input:checked ~ label,
.pop-up__stars label:hover,
.pop-up__stars label:hover ~ label {
  background-color: #ffe59f; }

.pop-up__stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center; }

.pop-up input {
  border: none;
  border-bottom: 3px solid #a0bdb6;
  width: 100%; }

.pop-up__hours {
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px; }

.pop-up__inspection {
  display: flex;
  justify-content: center;
  align-items: center; }

.pop-up__inspection img {
  display: none; }

.pop-up__write .label {
  display: flex;
  justify-content: flex-start; }

.pop-up__right {
  min-width: 407px; }
  .pop-up__right--phone {
    min-width: 320px; }

.pop-up__left {
  min-width: 72px; }

.pop-up__flip.pop-up__flip--left {
  background: url(../img/navigation-left.png) no-repeat;
  width: 16px;
  background-position: 0 50%; }

@media (max-width: 1299px) {
  .pop-up .info__menu {
    position: relative;
    display: flex;
    padding-left: 0;
    justify-content: center; }
  .pop-up .info__menu .info__menu--pop-up {
    padding-bottom: 60px; } }

@media (max-width: 819px) {
  .pop-up {
    width: 100%;
    background: rgba(0, 0, 0, 0.9); }
    .pop-up .info__menu {
      order: 0; }
  .pop-up__after-menu {
    max-width: 400px;
    width: 95%; }
  .pop-up__close {
    top: 10px;
    right: 30px;
    background-image: url(../img/close-mobile.png); }
  .pop-up__leaf {
    display: none; }
  .pop-up .info__menu {
    left: auto;
    bottom: auto;
    top: auto;
    padding-bottom: 36px;
    margin: 0;
    padding-top: 20px;
    padding-right: 0;
    font-size: 20px; }
  .pop-up__item {
    max-width: 100%;
    min-height: 100vh;
    border-radius: 0;
    width: calc(100% - 30px);
    height: auto;
    padding-top: 30px;
    margin: 70px auto 40px;
    overflow: visible;
    align-items: flex-start; }
    .pop-up__item::before {
      content: "";
      width: calc(100% - 30px);
      height: 55px;
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
      box-shadow: -11px -10px 12px 8px rgba(0, 0, 0, 0.6); }
    .pop-up__item--active {
      display: block; }
  .pop-up__hidden-text {
    display: none; }
  .pop-up__block--team {
    flex-direction: column; }
  .pop-up__side {
    flex-direction: column;
    align-items: center; }
  .pop-up__about {
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 10px;
    padding-right: 10px; }
  .pop-up__text--team {
    padding-left: 0;
    max-width: 581px;
    text-align: center;
    padding-top: 32px; }
  .pop-up__block--team {
    padding-top: 60px;
    padding-bottom: 60px; } }

@media (max-width: 639px) {
  .pop-up--active {
    display: flex;
    flex-direction: column; }
  .pop-up__item {
    padding: 20px 10px; }
  .pop-up__paragraph {
    padding-top: 0;
    font-size: 25px;
    padding-bottom: 8px; }
  .pop-up__text-contact {
    width: 100%;
    font-size: 16px;
    padding-bottom: 6px; }
  .pop-up__write--name {
    padding-bottom: 8px;
    align-items: center; }
  .pop-up__write--email {
    padding-bottom: 16px; }
  .pop-up__block--review {
    font-size: 16px; }
  .pop-up input {
    width: 55%; }
  .pop-up .textarea {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px; }
  .pop-up .button__submit {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 500; }
  .pop-up__phone {
    background-color: #ffe59f;
    margin-left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    background-size: 16px; }
  .pop-up__rating {
    padding-bottom: 10px; }
  .pop-up__right--phone input.input {
    width: 66%; }
  .pop-up__item--active input.input {
    width: 52%; }
  .pop-up .label {
    font-size: 16px; }
  .pop-up__left {
    min-width: 40px; }
  .pop-up__left.pop-up__left--phone {
    min-width: 93px; }
  .pop-up .select {
    width: 160px;
    padding-left: 8px;
    margin-right: 10px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px; } }

.select {
  width: 318px;
  padding-left: 17px;
  height: 45px;
  border: none;
  background: #e0e8e6;
  border-radius: 11px;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 400; }

.select:active {
  border: none; }

.select > select {
  border: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none; }

.option {
  border: none; }

select > option {
  background-color: #d0dad7; }

.container {
  width: 100%;
  margin: 0 auto; }

@media (max-width: 1299px) {
  .container {
    max-width: 800px; } }

@media (max-width: 767px) {
  .container {
    max-width: 100%; }
  .container > .call {
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }

.star__wrapper {
  display: flex;
  width: 100%;
  padding-bottom: 22px;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center; }

.star {
  width: 24px;
  height: 26px;
  display: block;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%; }

.star__wrapper label {
  background-image: url(../img/no-choice.png); }

.star__wrapper input:checked ~ label,
.star__wrapper label:hover,
.star__wrapper label:hover ~ label {
  background-image: url(../img/star.png); }

.star__wrapper input {
  display: none; }

@media (max-width: 767px) {
  .star__wrapper {
    padding-bottom: 34px; }
  .star {
    width: 46px;
    height: 48px;
    margin-right: 10px; } }

@media (max-width: 639px) {
  .star {
    width: 32px;
    height: 34px;
    margin-right: 8px; }
  .star__wrapper {
    padding-bottom: 0; } }

.headline {
  font-size: 60px;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: normal; }

.headline__copy {
  font-size: 20px;
  line-height: 1.3em;
  max-width: 790px; }

.nav--top {
  padding-top: 40px;
  flex-basis: 360px;
  padding-left: 50px;
  display: flex; }

.nav__list {
  padding-left: 18px;
  margin-top: 0;
  padding-top: 18px;
  position: relative; }

.nav__list::before {
  position: absolute;
  content: "";
  display: block;
  border-left: 3px solid #454443;
  min-height: 204px;
  z-index: 0;
  top: 15px;
  left: -3px; }

.nav__link {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0; }
  .nav__link--last {
    padding-bottom: 24px; }
  .nav__link--active {
    position: relative;
    z-index: 2; }
  .nav__link--active::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #000000;
    z-index: 100;
    position: absolute;
    top: 8px;
    left: -23px; }

.nav__request {
  font-size: 14px;
  font-weight: 400;
  background: url(../img/fon.png) no-repeat 100%;
  background-size: 164px 40px;
  background-position: 0 0;
  padding-top: 4px;
  padding-right: 32px;
  padding-left: 20px;
  padding-bottom: 6px; }

@media (max-width: 1299px) {
  .nav--top {
    padding-left: 0; } }

@media (max-width: 959px) {
  .nav--top {
    padding: 0; } }

.appointment {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  position: relative;
  padding-left: 80px;
  text-align: left;
  max-width: 320px; }
  .appointment::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 20px;
    background-color: #ffa44c;
    background-image: url(../img/services/request-arrow.png);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%); }

@media (max-width: 639px) {
  .appointment {
    padding-right: 10px;
    padding-left: 60px; }
    .appointment::before {
      width: 35px;
      height: 35px;
      left: 10px; } }

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s; }
  .card--flipped {
    transform: rotateY(180deg); }
  .card__face {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; }
    .card__face--back {
      transform: rotateY(180deg); }
  .card__wrap {
    position: relative;
    perspective: 400px; }

@media (max-width: 767px) {
  .card {
    position: relative; }
    .card--flipped {
      transform: none; }
    .card__face {
      position: relative; }
      .card__face--back {
        transform: none; }
    .card__wrap {
      display: none; }
  .services__item--active .card__wrap {
    display: block; } }

@media (min-width: 768px) {
  .preload1 .services__item::before, .preload1 .services__item::after {
    width: 0; }
  .preload2 .services__decoration {
    opacity: 0; }
  .preload2 .services__decoration::after {
    height: 0; }
  .preload3 .services__description,
  .preload3 .services__image {
    opacity: 0; } }

.fieldset {
  display: flex;
  width: 100%;
  font-family: Calibri, Arial, sans-serif;
  margin-bottom: 15px;
  align-items: center; }
  .fieldset .fieldset__input {
    width: auto;
    flex-grow: 1;
    font-family: Calibri, Arial, sans-serif;
    font-size: 18px; }
    .fieldset .fieldset__input:focus {
      outline: none; }
  .fieldset__label {
    border-bottom: 3px solid transparent;
    padding-right: 10px; }

.textarea {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Calibri', 'Arial', sans-serif;
  max-width: 481px;
  width: 100%;
  border: none;
  margin: 0 auto;
  border-bottom: 3px solid #a0bdb6;
  margin-bottom: 20px;
  max-height: 198px;
  resize: none; }
  .textarea:focus {
    outline: none; }

.textarea--request {
  max-height: 100px; }

.hamburger {
  width: 60px;
  height: 60px;
  background-color: #dadbc2;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hamburger::before, .hamburger::after {
    content: "";
    display: block;
    width: 60%; }
  .hamburger::after {
    height: 19px;
    border-top: 2px solid #454344;
    border-bottom: 2px solid #454344; }
  .hamburger::before {
    height: 2px;
    background: #454344;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%); }

@media (min-width: 768px) {
  .hamburger {
    display: none; } }

.services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh; }
  .services .header {
    width: 360px; }
  .services .call {
    width: calc(100% - 360px);
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: auto; }
  .services .call__now {
    margin-bottom: 10px;
    padding: 0;
    margin-top: 26px; }
  .services .footer {
    margin-top: auto; }
  .services__main {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Noto Sans', Arial, sans-serif;
    overflow: hidden; }
  .services__title {
    font-family: Calibri, Arial, sans-serif;
    margin: 0;
    line-height: 1.5em;
    text-transform: uppercase;
    font-size: 25px;
    opacity: 0.8;
    padding-top: 10px;
    padding-bottom: 10px; }
  .services__header {
    padding-left: 1vw; }
  .services__line {
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3; }
  .services__list {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 200px;
    transition: 0.5s;
    padding-bottom: 150px; }
  .services__item {
    width: 330px;
    padding-top: 34px;
    position: relative;
    text-align: center; }
    .services__item::before, .services__item::after {
      content: "";
      display: block;
      position: absolute;
      width: calc(50% - 6px);
      background: #454443;
      height: 2px;
      top: 0;
      transition: 2s;
      transition-timing-function: ease-in-out; }
    .services__item::before {
      left: 0; }
    .services__item::after {
      right: 0; }
  .services__image {
    padding: 20px 0;
    min-height: 70px;
    display: flex;
    align-items: center; }
    .services__image img {
      width: auto;
      max-height: 50px;
      max-width: 80px;
      margin: 0 auto; }
  .services__decoration {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #454443;
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s; }
    .services__decoration::after {
      content: "";
      width: 2px;
      height: 34px;
      display: block;
      position: absolute;
      bottom: -34px;
      background: #454443;
      left: 50%;
      transform: translateX(-50%);
      transition: 1s;
      transition-timing-function: ease-in-out;
      transition-delay: 0.8s; }
  .services__reverse {
    transform: rotate(-180deg); }
  .services__controls {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    transition: 0.3s;
    transition-timing-function: ease-out; }
    .services__controls--hidden {
      visibility: hidden; }
  .services__control {
    margin: 5px;
    opacity: 0.5;
    cursor: pointer; }
    .services__control:hover {
      opacity: 1; }

.services__description,
.services__image {
  opacity: 1;
  transition: 1.5s; }

.services__item--above .services__decoration::after {
  top: -34px; }

.services__item--above .services__description {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -200px;
  width: 100%;
  min-width: 300px; }

.services__item--below .services__image {
  top: -100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

@media (max-width: 959px) {
  .services .call {
    width: 100%;
    position: static; }
  .services .call__block {
    position: absolute;
    top: 10px;
    right: 10px; }
  .services .headline {
    margin: 20px 0; }
  .services__header {
    padding-left: 30px; } }

@media (max-width: 767px) {
  .services .call {
    padding: 0 10px; }
  .services .call__block {
    position: relative;
    top: auto;
    right: auto;
    width: 100%; }
  .services__header {
    padding-left: 0; }
  .services__list {
    display: block;
    padding: 20px 10px 0;
    transform: none !important;
    max-width: 100%; }
  .services__item {
    width: 100%;
    padding-left: 120px;
    padding-top: 0;
    min-height: 100px; }
    .services__item--active .services__image {
      background-color: #ffa44c; }
    .services__item::before {
      content: none; }
    .services__item::after {
      right: auto;
      width: 2px;
      height: calc(100% - 90px);
      top: 90px;
      left: 45px; }
    .services__item:last-child::after {
      content: none; }
  .services__decoration {
    display: none; }
  .services__item--below .services__image,
  .services__item--above .services__description {
    position: relative;
    top: auto;
    left: auto;
    transform: none; }
  .services__item--above .services__description {
    min-width: 50px; }
  .services__image {
    width: 90px;
    height: 90px;
    min-height: 90px;
    border: 2px solid #454443;
    border-radius: 50%; }
    .services__image img {
      max-width: 50px;
      max-height: 50px; }
  .services__item--below .services__image,
  .services__image {
    position: absolute;
    left: 0;
    top: 0; }
  .services__title {
    padding: 30px 0 20px;
    text-align: left; }
  .services__copy {
    text-align: left;
    padding: 0 0 20px; }
  .services__description,
  .services__image {
    transition: 0.3s; }
  .services__controls {
    opacity: 0; } }

@media (max-width: 639px) {
  .services__item {
    padding-left: 55px; }
    .services__item::after {
      height: calc(100% - 50px);
      top: 50px;
      left: 25px; }
  .services__image {
    width: 50px;
    height: 50px;
    min-height: 50px; }
    .services__image img {
      max-width: 30px;
      max-height: 30px; }
  .services__title {
    padding-top: 8px; } }
