.body {
  background: url("../img/web_v2.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  font-family: 'Calibri', sans-serif;
  box-sizing: border-box;
  background-attachment: fixed; }

html {
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000000; }

p {
  margin: 0; }

.main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box; }

.header {
  width: 20%; }

.footer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center; }

img {
  width: 100%;
  display: block;
  vertical-align: top; }

* {
  box-sizing: border-box; }

@media (max-width: 1299px) {
  .main {
    width: 100%; }
  .header {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box; } }

@media (max-width: 767px) {
  .body {
    display: flex;
    background-image: none;
    flex-wrap: wrap;
    margin: 0 auto; }
  .header {
    background-color: #e7e7d5;
    padding: 0;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: none; }
  .main {
    background-color: #f2efe1;
    padding-left: 10px;
    padding-right: 10px; }
  .hidden {
    display: none; }
  .pop-up {
    display: none; } }

@media (max-width: 639px) {
  .main {
    padding: 0; } }

.menu--top {
  padding-top: 40px;
  flex-basis: 360px;
  padding-left: 50px;
  display: flex; }

.menu__list {
  padding-left: 18px;
  margin-top: 0;
  padding-top: 18px;
  position: relative; }

.menu__list::before {
  position: absolute;
  content: "";
  display: block;
  border-left: 3px solid #454443;
  min-height: 204px;
  z-index: 0;
  top: 15px;
  left: -3px; }

.menu__link {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0; }
  .menu__link--last {
    padding-bottom: 24px; }
  .menu__link--active {
    position: relative;
    z-index: 2; }
  .menu__link--active::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #000000;
    z-index: 100;
    position: absolute;
    top: 8px;
    left: -23px; }

.menu__request {
  font-size: 14px;
  font-weight: 400;
  background: url(../img/fon.png) no-repeat 100%;
  background-size: 164px 40px;
  background-position: 0 0;
  padding-top: 4px;
  padding-right: 32px;
  padding-left: 20px;
  padding-bottom: 6px; }

.menu__hidden {
  display: none; }

@media (max-width: 1299px) {
  .menu--top {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 0;
    margin: 0;
    flex-basis: auto;
    margin-top: 52px; }
  .menu__list {
    padding-top: 40px;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    z-index: 4; }
  .menu__list::before {
    border-left: none;
    width: 100%;
    border-bottom: 3px solid #454443;
    min-height: auto;
    top: 110px;
    left: 0; }
  .menu__item {
    display: flex;
    justify-content: center;
    width: 100%; }
    .menu__item--last {
      padding-bottom: 0; }
  .menu__link {
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .menu__link--active::before {
      top: 34px;
      left: 50%;
      transform: translateX(-50%); }
  .menu__link a {
    display: flex; }
  .menu__request {
    display: flex;
    justify-content: flex-end;
    background-size: 100%;
    justify-content: center;
    background-size: 100% 100%;
    min-width: 160px;
    min-height: 40px;
    font-size: 20px;
    font-weight: 400; }
  .menu__request a {
    display: flex;
    justify-content: center; }
  .menu__controller {
    top: 9px;
    right: auto;
    left: 36px; } }

@media (max-width: 767px) {
  .menu__list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    margin-left: 60px; }
    .menu__list::before {
      content: "";
      width: 4px;
      height: 100%;
      display: block;
      background: #Fff;
      position: absolute;
      left: -29px;
      top: 34px; }
  .menu__link {
    display: flex;
    padding-left: 0;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 20px; }
    .menu__link--last {
      padding-right: 0; }
  .menu__link a {
    color: #ffffff;
    display: flex;
    width: 100%;
    line-height: 0.7em; }
  .menu--top {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    margin: 0;
    padding: 40px 0; }
  .menu__request {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    font-size: 28.13px;
    padding-right: 106px; }
  .menu__hidden {
    display: flex;
    flex-direction: column;
    width: 54%;
    padding-top: 80px;
    font-style: italic;
    max-width: 275px;
    font-weight: 400;
    font-size: 28px;
    color: #ffffff; }
  .menu__bold {
    font-weight: 600; }
  .menu__link--active::before {
    top: 9px;
    width: 6px;
    height: 6px;
    background-color: #3e3d3b;
    border-radius: 50%;
    border: 2px solid #ffffff;
    left: -1em;
    transform: translateX(-18%); } }

.info {
  width: 100%;
  padding-top: 38px;
  display: flex;
  margin: 0;
  box-sizing: border-box; }

.info__block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  max-width: 1640px; }

.info__photo {
  box-sizing: border-box;
  width: 30%; }

.info__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 561px;
  width: 50%;
  margin-left: 20px;
  box-sizing: border-box; }

.info__only {
  font-weight: 600;
  margin-top: 0; }
  .info__only--hidden {
    display: none; }

.info__exam {
  position: absolute;
  min-height: 181px;
  max-width: 311px;
  align-items: center;
  background: url(../img/action.png) no-repeat;
  background-position: 0 0;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 43px;
  padding-top: 18px;
  padding-right: 10px;
  box-sizing: border-box;
  right: 48px;
  top: 200px; }

.info__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
  max-width: 392px;
  line-height: 1.3em; }

.info__paragraph {
  font-size: 60px;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  max-width: 561px; }

.info__article {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 38px;
  padding-top: 36px;
  padding-right: 10px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: 'NotoSans',sans-serif;
  line-height: 1.6em; }

.info__menu,
.info__gallery {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  padding-left: 0; }

.info__gallery .info__second-img {
  padding-right: 4px; }

.info__doctor-img,
.info__hidden-button,
.info__act {
  display: none; }

.info__gallery img {
  padding-left: 2px;
  max-width: 114px; }

.info__look {
  position: relative; }

.info__look::before {
  display: block;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: url(../img/plus.png) no-repeat;
  background-size: cover;
  width: 100%; }

.info__round {
  width: 7px;
  height: 7px;
  background-color: #7d7d7d;
  border-radius: 50%;
  border: 1px solid #7d7d7d;
  margin-left: 22px;
  margin-right: 22px; }

.info__active {
  display: flex;
  margin-top: 0;
  padding-top: 14px;
  justify-content: space-between; }

.info__menu--pop-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start; }

.delete {
  position: absolute;
  top: 12px;
  left: 25px;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 18px;
  background-image: url(../img/close.png); }

.info__offer {
  margin-top: 20px; }

.info__menu.info__menu--pop-up {
  display: flex;
  padding-left: 0;
  justify-content: center; }

@media (max-width: 1299px) {
  .info {
    flex-wrap: wrap;
    padding-top: 0; }
  .info__position {
    position: absolute;
    display: block;
    top: 0;
    left: 45px;
    display: flex;
    flex-direction: column; }
  .info__text {
    order: 0;
    width: 60%;
    margin-right: 0;
    display: inline-block;
    margin-left: 0;
    z-index: 0;
    max-width: 100%; }
  .info__block {
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    padding-left: 54px;
    box-sizing: border-box;
    padding-top: 180px; }
  .info__photo {
    width: 40%; }
  .info__article {
    padding-left: 40px;
    padding-right: 40px; }
  .info__title {
    width: 100%;
    max-width: 601px;
    margin-top: 0;
    font-size: 30px;
    font-weight: 400; }
  .info__paragraph {
    max-width: 530px;
    font-size: 60px;
    font-weight: 400; }
  .info__hidden,
  .info__last-img,
  .info__act {
    display: none; }
  .info__exam {
    top: -16px;
    right: -48px;
    background-size: 100% 100%;
    width: 100%;
    z-index: 4; }
  .info__menu,
  .info__gallery {
    width: 100%;
    font-weight: 400;
    padding-left: 40px; }
  .info__gallery .info__second-img {
    padding-right: 0; }
  .info__round {
    width: 6px;
    height: 6px; } }

@media (max-width: 767px) {
  .info,
  .info__text {
    display: flex;
    background-color: #f2efe1; }
  .info__text {
    padding-left: 0;
    flex-direction: column;
    order: 3;
    display: flex;
    width: 100%; }
  .info__title {
    font-size: 40px; }
  .info__block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
    flex-basis: auto;
    max-width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    position: relative; }
  .info__photo {
    display: flex;
    width: 100%;
    order: 3; }
  .info__photo img,
  .info__gallery,
  .delete,
  .info__mobile-hidden {
    display: none; }
  .info__position {
    display: block;
    position: relative;
    order: 0;
    padding-bottom: 30px;
    padding-top: 50px;
    left: auto;
    padding-left: 31px; }
  .info__offer {
    margin: 0;
    max-width: 478px;
    width: 100%;
    box-sizing: border-box; }
  .info__menu {
    padding-left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    padding-top: 34px;
    margin: 0 auto;
    font-size: 40px;
    order: 1;
    padding-left: 31px;
    padding-right: 31px; }
  .info__article {
    width: 100%;
    min-width: 100%;
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 14px;
    font-size: 30px;
    background-color: #f2efe1;
    margin-left: 0;
    line-height: 1.3em;
    order: 2; }
  .info__exam {
    display: none; }
  .info__act {
    display: flex;
    align-items: center;
    justify-content: space-around;
    order: 1;
    background-color: #ffa44c;
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 31px;
    padding-right: 31px; }
  .info__act:hover {
    background-color: #e5a364; }
    .info__act:hover:active {
      background-color: #e5a364; }
  .info__act img {
    width: 21px;
    height: 64px; }
  .info__title,
  .info__paragraph {
    max-width: 100%; }
  .info__doctor-img {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    order: 1; }
  .info__hidden-button {
    display: inline-block;
    width: 24px;
    height: 68px;
    padding-right: 31px; }
  .info__row-circles {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center; }
  .info__circle {
    border-radius: 50%;
    margin-right: 23px;
    max-width: 31px;
    max-height: 31px; }
    .info__circle--selected {
      border-radius: 50%;
      border: none;
      width: 31px;
      height: 31px;
      background-color: #ffa44c; }
    .info__circle--white {
      border: 3px solid #ffffff;
      width: 31px;
      height: 31px; }
  .info__only {
    display: none; }
    .info__only--hidden {
      display: inline-block; }
  .info__round {
    width: 12px;
    height: 12px;
    margin: auto; } }

@media (max-width: 639px) {
  .info__position {
    padding: 10px; }
  .info__title {
    font-size: 23px; }
  .info__paragraph {
    font-size: 34px; }
  .info__circle {
    flex-shrink: 0; }
  .info__row-circles {
    padding-left: 0px;
    display: flex;
    justify-content: space-around; }
  .info__circle {
    margin-right: 0px; }
  .info__act {
    font-size: 27px; }
  .info__act img {
    width: 12px;
    height: 32px; }
  .info__act,
  .info__menu,
  .info__article {
    padding: 10px; }
  .info__menu {
    padding-top: 10px;
    font-size: 21px;
    font-weight: 500; }
  .info__article {
    padding-top: 5px;
    line-height: 1.2em;
    font-size: 18px; }
  .info__round {
    width: 8px;
    height: 8px; } }

.button {
  background-color: #ffa44c;
  width: 104px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase; }

.button:active {
  background-color: #e5a364;
  border: none; }

.button__like {
  margin-right: 11px;
  width: 70px;
  border-radius: 5px;
  text-align: left;
  height: 22px;
  z-index: 0;
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-position: 88% 47%; }

.button__submit {
  width: 140px;
  height: 56px;
  font-size: 24px;
  font-weight: 400; }

@media (max-width: 767px) {
  .button__more {
    display: none; }
  .button__like {
    font-size: 36.29px;
    font-weight: 100;
    width: 140px;
    height: 44px;
    margin-right: 22px;
    background-size: 16%;
    padding-left: 18px;
    background-image: url(../img/like-mobile.png); } }

@media (max-width: 639px) {
  .button__like {
    font-size: 19px;
    font-weight: 400;
    width: 80px;
    height: 32px;
    margin-right: 10px;
    background-size: 20%;
    padding-left: 8px;
    background-position: 90% 42%; } }

.call {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

.call__now,
.call__text {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.call__now {
  font-size: 31.04px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px; }

.call__text {
  font-size: 18.11px;
  font-weight: 500;
  justify-content: flex-end; }

.call__menu {
  display: none; }

@media (max-width: 1299px) {
  .container > .call {
    position: relative; }
  .call {
    width: 100%;
    position: absolute;
    top: -205px;
    right: 0px; }
  .call__now {
    padding-bottom: 17px;
    margin: 0; }
  .call__text {
    margin: 0;
    padding: 0; }
  .call-hidden {
    padding-left: 8px;
    padding-right: 8px; } }

@media (max-width: 767px) {
  .container > .call {
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap; }
  .call {
    right: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: auto;
    justify-content: space-between; }
  .call__now {
    font-size: 30px;
    padding-bottom: 0; }
  .call__now,
  .call__text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%; }
  .call-hidden {
    display: none; }
  .call__text {
    font-size: 22px;
    text-align: right; }
  .call__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .call__menu img {
    width: 50px; }
  .call__block {
    display: block;
    width: calc(100% - 60px); } }

@media (max-width: 639px) {
  .call {
    padding-top: 10px; }
  .call__now {
    font-size: 28px; }
  .call__text {
    font-size: 13.5px; } }

.bottom__white {
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  padding-top: 38px;
  padding-bottom: 42px; }

.bottom {
  width: 100%; }

.bottom__transparent {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center; }

.bottom__add {
  display: flex;
  z-index: 2;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  width: 22%;
  position: absolute;
  top: 42px;
  right: 0; }

.bottom__round {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #dcede9;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #dcede9;
  z-index: 0; }

.bottom__hidden {
  display: none;
  background-image: url(../img/add.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  z-index: 100;
  align-items: center;
  justify-content: center; }

.bottom__hidden {
  display: none; }

.bottom__reviews {
  padding-bottom: 27px;
  width: 50%;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400; }

.bottom__opinion {
  display: flex;
  max-width: 1040px; }

.bottom__item {
  width: 50%;
  max-width: 500px;
  font-size: 18px;
  font-weight: 400; }
  .bottom__item--left {
    padding-right: 60px; }

.bottom__name {
  font-style: italic;
  padding-bottom: 18px; }

.bottom__more {
  color: #865729;
  text-transform: uppercase; }

.bottom__text {
  padding-bottom: 28px;
  max-width: 480px; }
  .bottom__text--right {
    padding-right: 32px; }

.bottom__button {
  display: flex; }

.button__img {
  background: url("../img/like.png") no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  z-index: 100; }

.bottom__flip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  width: 16px; }
  .bottom__flip--left {
    background: url(../img/navigation-left.png) no-repeat;
    background-position: 50%; }
  .bottom__flip--right {
    background: url(../img/navigation-right.png) no-repeat;
    background-position: 50%; }

.bottom__flip img:hover {
  display: none; }

.bottom__flip--left:hover {
  display: flex;
  background-image: url(../img/navigator-left-active.png) no-repeat;
  background-size: 100%; }

.bottom__flip--right:hover {
  display: flex;
  background-image: url(../img/navigator-right-active.png) no-repeat;
  background-size: 100%; }

@media (max-width: 1299px) {
  .bottom {
    width: 100%;
    padding-top: 60px; }
  .bottom__opinion {
    padding-right: 146px;
    width: 56%;
    max-width: 100%; }
  .bottom__reviews {
    padding-bottom: 30px;
    width: 80%; }
  .bottom__add {
    right: 45px;
    width: 100px; }
  .bottom__flip--left {
    margin-right: 0; }
  .bottom__item--left {
    padding-right: 0; }
  .bottom__item {
    width: 100%; }
    .bottom__item--hidden {
      display: none; }
  .bottom__text.bottom__text--left {
    padding-bottom: 28px; }
  .bottom__white {
    padding-bottom: 62px;
    justify-content: space-around; } }

@media (max-width: 767px) {
  .bottom {
    padding-top: 0; }
  .bottom__reviews {
    font-size: 50px;
    padding-top: 0;
    background-color: #f2efe1;
    padding-left: 0;
    width: 96%; }
  a.bottom__link {
    display: none; }
  a.bottom__hidden {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #7d7d7d; }
  .bottom__round {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 97px;
    font-weight: 200; }
  .bottom__transparent {
    background-color: #f2efe1;
    padding-left: 31px;
    padding-right: 31px; }
  .bottom__white {
    padding-top: 64px;
    padding-bottom: 60px; }
  .bottom__name {
    font-size: 32px; }
  .bottom__text {
    font-size: 30px; }
    .bottom__text--left {
      line-height: 1.2em;
      padding-bottom: 42px; }
  .bottom__flip--left,
  .bottom__flip--right {
    margin: 0; }
  .bottom__item {
    max-width: 518px;
    width: 100%; }
  .bottom__flip--left {
    padding-right: 26px; }
  .bottom__button {
    font-size: 36.29px;
    font-weight: 300; }
  .bottom__opinion {
    width: 85%;
    padding-right: 43px; } }

@media (max-width: 639px) {
  .bottom__flip--left,
  .bottom__flip--right {
    margin: 10px;
    background-position: 0 50%; }
  .bottom__reviews {
    padding: 20px; }
  .bottom__reviews {
    width: 100%;
    font-size: 30px; }
  .bottom__hidden {
    width: 34px;
    height: 34px; }
  .bottom__round {
    width: 70px;
    height: 70px; }
  .bottom__add {
    right: 0px;
    top: 6px;
    width: 80px; }
  .bottom__white {
    padding-top: 14px;
    padding-bottom: 10px; }
  .bottom__flip--left {
    padding-right: 0; }
  .bottom__name {
    font-size: 24px;
    padding-bottom: 5px; }
  .bottom__text.bottom__text--left {
    padding-bottom: 10px;
    font-size: 21px;
    line-height: 1em; }
  .bottom__opinion {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px; }
  .bottom__button {
    font-size: 23px;
    font-weight: 400; } }

.footer {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center; }

.development,
.copyright {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px; }

.footer__hidden,
.development__hidden {
  display: none; }

@media (max-width: 1299px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .copyright,
  .development {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; }
  .copyright {
    padding-top: 25px; }
  .development {
    padding-top: 20px;
    padding-bottom: 20px; } }

@media (max-width: 767px) {
  .footer {
    width: 100%;
    background-color: #f9f4e9;
    padding-left: 30px;
    padding-right: 40px;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px; }
  .footer__hidden,
  .development__hidden {
    display: flex; }
  .footer__hidden {
    width: 100%; }
  .footer__hidden img {
    width: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .footer__hidden p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase; }
  .footer__hidden {
    font-size: 40px;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; }
  .development {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    font-weight: 400;
    padding-left: 0;
    padding-bottom: 0; }
  .development,
  .copyright {
    padding-left: 0;
    padding-right: 0; }
  .copyright {
    width: 86%;
    font-size: 28px;
    font-weight: 400;
    padding-top: 43px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-left: 0; }
  .development__hidden {
    width: 33%;
    display: flex;
    justify-content: flex-start; } }

@media (max-width: 639px) {
  .footer {
    padding: 10px; }
  .footer__hidden img {
    width: 34px; }
  .footer__hidden {
    font-size: 22px;
    justify-content: space-between; }
  .copyright {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    padding-top: 4px; }
  .footer__hidden p {
    font-weight: 500; }
  .development {
    font-size: 14px;
    font-weight: 500;
    padding-top: 4px; } }

.pop-up {
  display: none;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed; }
  .pop-up--active {
    display: flex; }

.pop-up__close {
  top: 62px;
  right: 117px;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url(../img/delete.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed; }

.pop-up__item {
  border-radius: 50%;
  max-width: 800px;
  width: 100%;
  max-height: 800px;
  height: 100%;
  background-color: #ffffff;
  display: none;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; }
  .pop-up__item--active {
    display: flex; }

.pop-up__block {
  background-color: #f8f2ee;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 43px; }
  .pop-up__block--review {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding-bottom: 0;
    max-width: 477px;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    font-family: 'NotoSans';
    width: 100%;
    border-radius: 50%;
    box-sizing: border-box; }

.pop-up__square {
  max-width: 473px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto; }

.pop-up__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center; }

.pop-up__content-review {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }

.pop-up__text {
  padding-top: 36px; }
  .pop-up__text--team {
    max-width: 272px;
    padding-left: 32px;
    padding-top: 20px; }

.pop-up__date {
  padding-bottom: 16px;
  font-weight: 600;
  font-style: italic; }

.pop-up__web-link {
  font-weight: 600;
  color: #865729;
  background: url(../img/link-img.png) no-repeat;
  background-position: 0 12%; }

.pop-up__info .pop-up__web-link {
  background: none; }

.pop-up__website {
  padding-top: 18px; }

.pop-up__website p {
  padding-bottom: 12px;
  padding-left: 20px; }

.pop-up__selected-page {
  background-color: #eed2bf;
  padding: 6px 6px; }

.pop-up__after-menu {
  width: 57%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 38px; }

.pop-up__about {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.pop-up__img {
  display: flex;
  justify-content: center;
  align-content: center; }

.pop-up__img img {
  width: 100%; }

.pop-up__side {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-bottom: 32px; }

.pop-up__leaf {
  max-width: 60px; }

.pop-up__block--team {
  padding-top: 35px;
  padding-bottom: 0; }

.pop-up .label {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 400; }

.pop-up__write {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 477px; }
  .pop-up__write--email {
    padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; }
  .pop-up__write--name {
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    padding-right: 0;
    justify-content: space-between;
    align-items: baseline; }

.pop-up__left--phone {
  min-width: 154px;
  width: 100%; }

.pop-up__write img {
  width: 26px;
  padding-left: 14px; }

.pop-up__text-contact {
  width: 54%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px; }

.pop-up__paragraph {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 36px; }
  .pop-up__paragraph--request {
    width: 50%;
    text-align: center; }

.pop-up__visit,
.pop-up__rating,
.pop-up__stars {
  display: flex; }

.pop-up__visit {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-bottom: 20px; }

.pop-up__rating {
  margin: 0 auto;
  padding-bottom: 16px; }

.pop-up__phone {
  padding: 9px 9px;
  background-color: #ffe59f;
  margin-left: 4px;
  border-radius: 6px; }
  .pop-up__phone--noselected {
    background-color: #e0e8e6; }

.textarea {
  font-size: 20px;
  font-weight: 400;
  font-family: 'NotoSans', 'Arial', sans-serif;
  max-width: 481px;
  border: none;
  margin: 0 auto;
  border-bottom: 3px solid #a0bdb6;
  margin-bottom: 42px;
  max-height: 198px;
  resize: none; }

.textarea--request {
  max-height: 100px; }

.pop-up__your {
  padding-right: 26px; }

.pop-up__stars {
  padding-right: 20px; }

.pop-up__good {
  display: flex;
  align-items: center; }

.pop-up__stars,
.pop-up__your {
  display: flex;
  justify-content: center;
  align-items: center; }

.pop-up input {
  border: none;
  border-bottom: 3px solid #a0bdb6;
  width: 100%; }

.pop-up__hours {
  text-align: center;
  padding-bottom: 10px; }

.pop-up__inspection {
  display: flex;
  justify-content: center;
  align-items: center; }

.pop-up__inspection img {
  display: none; }

.pop-up__write .label {
  display: flex;
  justify-content: flex-start; }

.pop-up__right {
  min-width: 407px; }
  .pop-up__right--phone {
    min-width: 320px; }

.pop-up__left {
  min-width: 72px; }

.pop-up__flip.pop-up__flip--left {
  background: url(../img/navigation-left.png) no-repeat;
  width: 16px;
  background-position: 0 50%; }

@media (max-width: 1299px) {
  .pop-up .info__menu {
    position: relative;
    display: flex;
    padding-left: 0;
    justify-content: center; }
  .pop-up .info__menu .info__menu--pop-up {
    padding-bottom: 60px; } }

@media (max-width: 819px) {
  .pop-up {
    width: 100%; }
  .pop-up__close {
    top: 29px;
    right: 96px;
    background-image: url(../img/close-mobile.png); }
  .pop-up__leaf {
    display: none; }
  .pop-up .info__menu {
    position: relative;
    display: flex;
    padding-left: 0;
    justify-content: center;
    left: auto;
    bottom: auto;
    top: auto;
    padding-bottom: 36px;
    margin: 0;
    padding-top: 0;
    order: -1;
    padding-right: 0; }
  .pop-up__item {
    max-width: 600px;
    max-height: 100%;
    border-radius: 0;
    margin-top: 78px;
    margin-bottom: 51px;
    height: auto; }
  .pop-up__after-menu {
    display: block;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 50px;
    padding-top: 40px;
    margin: 0;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    font-family: 'NotoSans', sans-serif; }
  .pop-up__hidden-text {
    display: none; }
  .pop-up__block--team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .pop-up__side {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .pop-up__about {
    font-size: 30px;
    font-weight: 400;
    font-family: 'NotoSans', sans-serif; }
  .pop-up__text--team {
    padding-left: 0;
    max-width: 581px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top: 32px; }
  .pop-up__block--team {
    padding-top: 60px;
    padding-bottom: 60px; }
  .pop-up__img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 356px;
    height: 356px; } }

@media (max-width: 639px) {
  .pop-up--active {
    display: flex;
    flex-direction: column; }
  .pop-up__item {
    padding-top: 10px;
    padding-bottom: 10px; }
  .pop-up__paragraph {
    padding-top: 0;
    font-size: 25px;
    padding-bottom: 8px; }
  .pop-up__text-contact {
    width: 100%;
    font-size: 16px;
    padding-bottom: 6px; }
  .pop-up__write--name {
    padding-bottom: 8px;
    align-items: center; }
  .pop-up__write--email {
    padding-bottom: 16px; }
  .pop-up__block--review {
    font-size: 16px; }
  .pop-up input {
    width: 55%; }
  .pop-up .textarea {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px; }
  .pop-up .button__submit {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: 500; }
  .pop-up__your {
    padding-right: 10px; }
  .pop-up__stars {
    padding-right: 10px; }
  .pop-up__phone {
    padding: 4px 4px;
    background-color: #ffe59f;
    margin-left: 3px;
    width: 25px;
    border-radius: 6px; }
  .pop-up__rating {
    padding-bottom: 10px; }
  .pop-up__right--phone input.input {
    width: 66%; }
  .pop-up__item--active input.input {
    width: 52%; }
  .pop-up .label {
    font-size: 16px; }
  .pop-up__left {
    min-width: 40px; }
  .pop-up__left.pop-up__left--phone {
    min-width: 93px; }
  .pop-up .select {
    width: 160px;
    padding-left: 8px;
    margin-right: 10px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px; } }

.select {
  width: 318px;
  padding-left: 17px;
  height: 45px;
  border: none;
  background: #e0e8e6;
  border-radius: 11px;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 400; }

.select:active {
  border: none; }

.select > select {
  border: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none; }

.option {
  border: none; }

select > option {
  background-color: #d0dad7; }

.container {
  width: 100%;
  margin: 0 auto; }

@media (max-width: 1299px) {
  .container {
    max-width: 800px; } }

@media (max-width: 767px) {
  .container {
    max-width: 640px; }
  .container > .call {
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; } }

.star__wrapper {
  display: flex;
  width: 100%;
  padding-bottom: 22px; }

.star {
  width: 24px;
  height: 26px;
  display: block;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0; }

.star__wrapper--homing input:checked ~ label, .star__wrapper--homing label, .star__wrapper--homing label:hover, .star__wrapper--homing label:hover ~ label {
  background: url(../img/star.png) no-repeat; }

.star__wrapper--homing {
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  position: relative;
  float: left; }

.star__wrapper--homing input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 24px;
  height: 26px;
  margin-right: 6px;
  position: absolute;
  top: 0;
  z-index: 0; }

.star__wrapper--homing input:checked ~ label {
  background-position: 0 -40px;
  width: 24px;
  height: 26px; }

.star__wrapper--homing label {
  background-position: 0 0;
  width: 24px;
  height: 26px;
  cursor: pointer;
  position: relative;
  z-index: 1; }

.star__wrapper--homing label:hover, .star__wrapper--homing label:hover ~ label {
  background-position: 0 -40px;
  width: 24px;
  height: 26px; }

.star-0 {
  left: 0px; }

.star-1 {
  left: 53px; }

.star-2 {
  left: 106px; }

.star-3 {
  left: 159px; }

.star-4 {
  left: 212px; }

.star-5 {
  left: 265px; }

@media (max-width: 1299px) {
  .star__wrapper {
    justify-content: flex-start;
    align-items: center; } }

@media (max-width: 767px) {
  .star__wrapper {
    padding-bottom: 34px; }
  .star {
    width: 46px;
    height: 48px;
    margin-right: 10px;
    background-image: url(../img/star-mobile.png); } }

@media (max-width: 639px) {
  .star {
    width: 32px;
    height: 34px;
    margin-right: 8px; }
  .star__wrapper {
    padding-bottom: 0; } }
