.body {
  background-image: url('../img/web_v2.jpg');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  font-family: 'Calibri', sans-serif;
  box-sizing: border-box;
  background-attachment: fixed;
  overflow-x: hidden;
  &--no-overflow {
    overflow: hidden;
  }
  &--services {
    background-color: #f8e9d1;
    background-image: url(../img/services/services-bg.jpg);

  }
}


@media (max-width: $mobile) {
  .body {
    display: flex;
    background-image: none;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
