.bottom__white {
  background: #ffffff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 38px;
  padding-bottom: 42px;
}
.bottom {
  width:100%;
}

.bottom__transparent {
  display: flex;
  width: 100%;
  position: relative;
}

.bottom__add {
  display: flex;
  z-index: 100;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  width: 22%;
  position: absolute;
  top: 42px;
  right: 0;
}
.bottom__round {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid #dcede9;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #dcede9;
  z-index: 0;
}
.bottom__hidden {
  display: none;
  background-image: url(../img/add.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.bottom__hidden {
  display: none;
}
.bottom__reviews {
  display: flex;
  padding-bottom: 35px;
  justify-content: flex-start;
  padding-left: 470px;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 400;
  width: 70%;
}

.bottom__rating img {
  width: 23px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.bottom__rating {
  display: flex;
  width: 100%;
  padding-bottom: 22px;
}

.bottom__opinion {
  display: flex;
}

.bottom__item {
  width: 50%;
  max-width: 500px;
   font-size: 18px;
   font-weight: 400;
   &--left {
    padding-right: 60px;
   }
}

.bottom__name {
  font-style: italic;
  padding-bottom: 18px;
}   

.bottom__more {
  color: #865729;
  text-transform: uppercase;
} 

.bottom__text {
  padding-bottom: 28px;
  &--left {
    padding-bottom: 48px;
  }
}

.bottom__button {
  display: flex;
}

.button__img {
  background: url('../img/like.png') no-repeat;
  bacground-size: 100%;
  width: 40px;
  hieght: 40px;
  z-index: 100;
}

.bottom__flip {
  display: flex;
  justify-content: center;
  align-items: center;
  &--left {
  margin-right: 60px;  
  }
  &--right {
  margin-left: 60px;
  }
}
@media (max-width: $medium) {
  .bottom {
    width: 100%;
    padding-top: 60px;
  }
  .bottom__reviews {
    padding-left: 108px;
    padding-bottom: 38px;
  }
  .bottom__add {
    right: 45px;
    width: 100px;
  }
  .bottom__rating {
    justify-content: flex-start;
    align-items: center;
  }
  .bottom__item {
    width: 100%;
  &--hidden {
     display: none;
   }
  }
  .bottom__text.bottom__text--left {
    padding-bottom: 28px;
  }
  .bottom__white {
    padding-bottom: 62px;
  }
}
@media (max-width: $mobile) {
  .bottom {
    padding-top: 0;
  }
  .bottom__reviews {
    font-size: 50px;
    padding-top: 0;
    padding-left: 30px;
    background-color: #f2efe1;
  }
  a.bottom__link {
    display: none;
  }
  a.bottom__hidden {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #7d7d7d;
  }
  .bottom__round {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 97px;
    font-weight: 200;
  }
  .bottom__transparent {
    background-color: #f2efe1;
  }
  .bottom__white {
    padding-top: 42px;
    padding-bottom: 60px;
  }
  .bottom__rating {
    padding-bottom: 34px;
  }
  .bottom__name {
    font-size: 32px;
  }
  .bottom__text {
    font-size: 30px;
  }
  .bottom__flip--left, 
  .bottom__flip--right {
    margin: 0;
  }
  .bottom__flip--left {
    padding-right: 10px;
  }

  .bottom__flip--right {
    padding-left: 10px;
  }
  .bottom__text--left {
    width: 99%;
    max-width: 488px;
    padding-right: 5px;
    line-height: 1.2em;
    padding-bottom: 42px;
  }
  .bottom__button {
    font-size: 36.29px;
    font-weight: 300;
  }
  .bottom__add {
    right: 36px;
  }
}