.call {
 width: 95%;
 display: flex;
 justify-content: flex-end;
 flex-direction: column;
}

.call__now,
.call__text {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.call__now {
  font-size: 31.04px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
}

.call__text {
  font-size: 18.11px;
  font-weight: 500;
  justify-content: flex-end;
}
.call__menu {
  display: none;
}

@media (max-width: $medium) {
  .container > .call{
    position: relative;
  }
  .call {
    width: 100%;
    position: absolute;
    top: -205px;
    right: 0px;
   }
  .call__now {
    padding-bottom: 17px;
    margin: 0;
  }
  .call__text {
    margin: 0;
    padding: 0;
  }
  .call-hidden {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (max-width: $mobile) {
  .call {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: auto;
    justify-content: space-between;
  }
  .call__now {
    font-size: 50px;
    width: 84%;
    padding-bottom: 0;
    font-weight: 500;
  }
  .call-hidden {
    display: none;
  }
  .call__text {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
  }
  .call__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  .call__menu img {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}