.container {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: $medium) {
  .container {
  max-width: 800px;
  }
}
@media (max-width: $mobile) {
  .container {
  max-width: 640px;
  }
  .container > .call {
    position: relative;
    justify-content: space-between;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}