.hamburger {
  width: 60px;
  height: 60px;
  background-color: #dadbc2;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 60%;
    transition: 0.3s;
  }
  &::after {
    height: 19px;
    border-top: 2px solid #454344;
    border-bottom: 2px solid #454344;

  }
  &::before {
    height: 2px;
    background: #454344;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
  }
}
.call__wrap--active {
  .hamburger {
    background-color: rgba(0,0,0,0.6);
    &::before,
    &::after {
      background: #dadbc2;
      height: 2px;
      width: 55%;
    }
    &::before {
      transform: translate(-50%) rotate(45deg);

    }
    &::after {
      left: 50%;
      top: 50%;
      transform: translate(-50%) rotate(-45deg);
      border: none;
      position: absolute;
    }
  }
}
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
