.headline {
  font-size: 60px;
  line-height: 1.2em;
  text-transform: uppercase;

  margin-top: 120px;
  margin-bottom: 20px;

  font-weight: normal;
}


.headline__copy {
  font-size: 20px;
  line-height: 1.3em;
  max-width: 790px;
}
@media (max-width: $medium) {
  .headline {
    margin-top: 0;
  }
}
