.popover {
  position: absolute;
  min-height: 181px;
  max-width: 311px;
  align-items: center;
  background: url(../img/action.png) no-repeat;
  background-position: 0 0;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 43px;
  padding-top: 18px;
  padding-right: 10px;
  box-sizing: border-box;
  right: 48px;
  top: 200px;
}
@media (max-width: $medium) {
  .popover {
    top: -16px;
    right: -48px;
    background-size: 100% 100%;
    width: 100%;
    z-index: 4;
  } 
}
@media (max-width: $mobile) {
  .popover {
    display: none;
  }
}