.select {
  width: 318px;
  padding-left: 17px;
  height: 45px;
  border: none;
  background: #e0e8e6;
  border-radius: 11px;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 400;
}
.select:active  {
  border: none;
}
.select > select {
  border: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.option {
  border: none;
}
select > option {
  background-color: #d0dad7;
}