.star__wrapper {
  display: flex;
  width: 100%;
  padding-bottom: 22px;
}
.star {
  width: 24px;
  height: 26px;
  display: block;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
}
.star__wrapper--allocation input:checked ~ label, .star__wrapper--allocation label, .star__wrapper--allocation label:hover, .star__wrapper--allocation label:hover ~ label {
  background: url(../img/star.png) no-repeat;
}

.star__wrapper--allocation {
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  position: relative;
  float: left;
}

.star__wrapper--allocation input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 24px;
  height: 26px;
  margin-right: 6px;
  position: absolute;
  top: 0;
  z-index: 0;
}

.star__wrapper--allocation input:checked ~ label {
  background-position: 0 -40px;
  width: 24px;
  height: 26px;
}

.star__wrapper--allocation label {
  background-position: 0 0;
  width: 24px;
  height: 26px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.star__wrapper--allocation label:hover, .star__wrapper--allocation label:hover ~ label {
  background-position: 0 -40px;
  width: 24px;
  height: 26px;
}

 .star-0 {
  left: 0px;
}
 .star-1 {
  left: 53px;
}
 .star-2 {
  left: 106px;
}
 .star-3 {
  left: 159px;
}
 .star-4 {
  left: 212px;
}
 .star-5 {
  left: 265px;
}
input.star:hover ~ .star__wrapper--allocation label  {

}

@media (max-width: $medium)  {
  .star__wrapper {
    justify-content: flex-start;
    align-items: center;
  }
}

@media (max-width: $mobile) {
  .star__wrapper {
    padding-bottom: 34px;
  }
  .star {
    width: 46px;
    height: 48px;
    margin-right: 10px;
    background-image: url(../img/star-mobile.png);
    }
}

@media (max-width: $small) {
  .star {
    width: 32px;
    height: 34px;
    margin-right: 8px;
  }
  .star__wrapper {
    padding-bottom: 0;
  }
}
